.sub-nav{
    /* width: 100vw; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F23207;
    color: #000000;
    overflow-x: hidden;
    /* padding: 40px 0; */
}

.return-btn {
    padding-left: 10px;
    width: 35px;
    transition: filter 0.4s;
}

.return-btn img:hover{
    filter: invert();
}

.sub-nav h1{
    
    padding-right: 10px;
    /* margin-left: 230px; */
}

.cover iframe{
    /* width: 98vw; */
}
