*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #00038C;
    display: flex;

}


#site-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-container{
    display: flex;
    
}

header{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    background-color: #F2B807;

    display: flex;
    justify-content: center;

}

header h1{
    /* margin: 30px 30px; */
    /* padding: 0 8px; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* align-self: flex-start; */
    font-weight: 700;
    font-family: 'Salsa', cursive;
    font-size: 60px;
    color: #000000;

}

header img{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 0 0 0 50% ;
    background-color: #F23207;
    transition: filter 0.4s;
    cursor: pointer;
}

header img:hover{
    filter: invert();
    
}

.logo{
    
    font-weight: 700;
    font-family: 'Salsa', cursive;
    font-size: 50px;
    color: #000000;
}


.sidebar{
    /* border: 1px solid red; */
    /* margin-left: 30px; */
    /* padding:0 20px ; */
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #f2b707ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: width 0.4s; */
    /* border-radius: 0 150px 0px 0; */

}

.sidebar span{
    margin: 30px 30px;
    /* padding: 0 8px; */
    /* box-sizing: border-box; */
    width: 200px;
    /* align-self: flex-start; */
    font-weight: 700;
    font-family: 'Salsa', cursive;
    /* font-size: 40px; */
    color: #000000;

}

.navbar {
    /* width: 300px; */
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    color:  #000000;
    padding: 6px;
    border-radius: 4px;
}

.closebtn{
    /* position: absolute;
    top: 190px;
    left: 240px; */
    text-align: center;
    /* width: 60px; */
    /* align-self: center; */
    font-weight: 900;
    font-size: 160px;
    color: #ffffff !important;
    background-color:  #00058e;
}

.navbar a:hover{
    background-color: #F23207;
    color: #ffffff;
    
}

article .cover{
    width: 100%;
}



.cover iframe{
    width: 100vw;
    margin-top:100px ;
}

.social-bar{
    /* position: absolute; */
    /* bottom: 10px; */
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    margin: 20px 0;

}

.social-bar a {
    width: 30px;
}

.social-bar img{
    /* margin: 18px 0; */
    transition: filter 0.4s;
}


.social-bar img:hover {
    filter: invert();
}


@media (min-width: 1000px){
    .cover iframe{
        /* padding: 0 40px; */
        max-width: 1219px;
        height: 590px;
    }

    .sidebar{
        margin-top: 200px;
        width: 300px !important;
        position: relative !important;
        background-color: #f2b707;
        height: auto;
        
    }

    .navbar {
        align-items: unset;
    }
    
    .sidebar span{
        display: none ;
    }

    .sidebar .closebtn{
        visibility: hidden;
    }
    header img{
        visibility: hidden;
    }

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 260px;
        padding: 60px 20px;
        /* background-color: #f2b70700; */
        justify-content: left;
        z-index: -1;
        
    }

    header h1{
        visibility: visible !important;
        /* color: #F2B807 !important; */
        width:200px;
        font-size: 60px !important;
    }

    
}

