*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: #00038C;
    display: flex;

}

.return-btn h1 {
    color: black;
    transition: 0.3s;
}

.return-btn h1:hover{
    filter: invert();
}

#site-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-container{
    display: flex;
    
}

header{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    background-color: #F2B807;
    display: flex;
    justify-content: center;

}

header h1{
    font-weight: 700;
    font-family: 'Salsa', cursive;
    font-size: 60px;
    color: #000000;

}

header img{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 0 0 0 50% ;
    background-color: #F23207;
    transition: filter 0.4s;
    cursor: pointer;
}

header img:hover{
    filter: invert();
    
}

.logo{
    
    font-weight: 700;
    font-family: 'Salsa', cursive;
    font-size: 25px;
    color: #000000;
}


.sidebar{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #f2b707ef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar span{
    margin: 30px 30px;
    width: 200px;
    font-weight: 700;
    font-family: 'Salsa', cursive;
    color: #000000;

}

.navbar {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    font-size: 26px;
    font-family: 'Ubuntu', sans-serif;
    color:  #000000;
    padding: 6px;
    border-radius: 4px;
}

.closebtn{
    text-align: center;
    font-weight: 900;
    font-size: 160px;
    color: #ffffff !important;
    background-color:  #00058e;
}

.navbar a:hover{
    background-color: #F23207;
    color: #ffffff;
    
}

article .cover{
    width: 100%;
}

.cover iframe{
    width: 100vw;
    margin-top:100px ;
}

.social-bar{
    width: 100%;    
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;

}

.social-bar a {
    width: 30px;
}

.social-bar img{
    transition: filter 0.4s;
}


.social-bar img:hover {
    filter: invert();
}


@media (min-width: 1000px){
    .cover iframe{
        max-width: 1219px;
        height: 590px;
    }

    .sidebar{
        width: 300px !important;
        position: fixed !important;
        background-color: #f2b707;
    }

    .navbar {
        align-items: unset;
    }

    .sidebar .closebtn{
        visibility: hidden;
    }
    header{
        display: none;
        visibility: hidden;
    }

    article{
        margin-left: 300px;
    }
    
}

