

#slid-layout-header{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    background-color: #F2B807;

    display: flex;
    justify-content: center;

}

.sub-nav{
    /* max-width: 100vw; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F23207;
    color: #000000;
    overflow-x: hidden;
    /* padding: 40px 0; */
}



.return-btn img:hover{
    filter: invert();
}

.sub-nav h1{
    font-size: 22px;
    padding-right: 10px;
    /* margin-left: 230px; */
}

 #slid-layout-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 0 0 0 50% ;
    background-color: #F23207;
    transition: filter 0.4s;
    cursor: pointer;
}

@media (min-width: 1000px){
   
   #slid-layout-header{
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        padding: 60px 20px;
        /* background-color: #f2b70700; */
        justify-content: left;
        z-index: -1;
        
    }

    
}
