
.sub-nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F23207;
    color: #000000;
    overflow-x: hidden;
}

.return-btn {
    padding-left: 10px;
    width: 35px;
    transition: filter 0.4s;
}


.return-btn img:hover{
    filter: invert();
}

.sub-nav h1{
    
    padding-right: 10px;
}

.galeria-vozes{
    text-align: center;
}

.galeria-vozes h1{
    margin-top: 20px;
    color: #ffffff;
}
.video-vozes{
    max-width: 100%;
    margin: 40px 0;
}

@media (min-width: 1000px){

    .vozes-container{
        width: 100vw;
        max-width: 1218px;
    }

}