
.sub-nav{
    /* width: 100vw; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F23207;
    color: #000000;
    overflow-x: hidden;
}

.return-btn {
    padding-left: 10px;
    width: 35px;
    transition: filter 0.4s;
}


.return-btn img:hover{
    filter: invert();
}

.sub-nav h1{
    font-size: 20px;
    padding-right: 5px;
}

.galeria-vozes{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.videobox{

    /* width: 560px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videobox iframe {
    width: 350px;
}

.videobox h1{
    font-size: 26px;
    margin-top: 80px;
    color: #ffffff;
}


@media (min-width: 1000px){

    .vozes-container{
        width: 100vw;
        max-width: 1218px;
    }

    .videobox iframe {
        width: 560px;
    
    }

}